@page "/important"
@using _TestBlazor_.Data;
@using _TestBlazor_.Service;
@inherits ImportantBase


<br />
<br />

<MudSimpleTable Style="overflow-x: auto;">
<tbody>
    @foreach (var item in it)
    {
    <tr>
        <td>
            <MudIcon Icon="@(item.done ? Icons.Material.Filled.Done:Icons.Material.Filled.DoneOutline)"></MudIcon>
        </td>
        <td>
            <MudText Align="Align.Center">
                <strike>
                    @if (item.done == true)
                        @item.title
                </strike>
                @if (item.done == false)
                    @item.title
            </MudText>
        </td>
        <td>
            <MudText Align="Align.Center">
                <strike>
                    @if (item.done == true)
                        @item.note
                </strike>
                @if (item.done == false)
                    @item.note
            </MudText>
        </td>
        <td>
            <MudIcon Icon="@Icons.Material.Sharp.Star"></MudIcon>
        </td>
    </tr>
    }
</tbody>
</MudSimpleTable>
