@page "/"
@page "/todoList"
@using _TestBlazor_.Data;
@using _TestBlazor_.Service;
@inherits IndexBase

<br />
<div class="input-group mb-3">
    <input @bind="currentTitle" type="text" class="form-control" placeholder="Input Title" @onkeyup="AddIfEnter" />
    <input @bind="currentNote" type="text" class="form-control" placeholder="Input Note" @onkeyup="AddIfEnter" />
    <div class="input-group-append">
        <button @onclick="Add" class="btn btn-outline-success" type="button">Add</button>
    </div>
</div>
<br />
<MudSimpleTable Style="overflow-x: auto;">
    <tbody>
        @foreach (var item in it)
        {
        <tr>
            <td>
                <MudCheckBox @bind-Checked="item.done"></MudCheckBox>
            </td>
            <td>
                <MudText Align="Align.Center">
                    <strike>
                        @if (item.done == true)
                            @item.title
                    </strike>
                    @if (item.done == false)
                        @item.title
                </MudText>
            </td>
            <td>
                <MudText Align="Align.Center">
                    <strike>
                        @if (item.done == true)
                            @item.note
                    </strike>
                    @if (item.done == false)
                        @item.note
                </MudText>
            </td>
            <td>
                <MudIconButton Icon="@(item.important ? @Icons.Material.Sharp.Star:@Icons.Material.Sharp.StarBorder   )" @onclick="@((e)=>changeImportant(item))"></MudIconButton>
            </td>
            <td>
                <MudButton Color="Color.Secondary" @onclick="@((e)=>delete(item))">Delete</MudButton>
            </td>
        </tr>
        }
    </tbody>
</MudSimpleTable>
<MudButton Color="Color.Success" @onclick="Save"> Save </MudButton>
